[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pyphen = "*"
nltk = "*"
"repoze.lru" = "*"
setuptools = "*"

[dev-packages]
codespell = "*"
flake8 = "*"
ipython = "*"
pytest = "*"
wheel = "*"
twine = "*"
textstat = {file = "."}